@font-face {
	font-family: "Comfortaa";
	src: url(./fonts/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Comfortaa Bold";
	src: url(./fonts/Comfortaa-Bold.ttf) format("truetype");
}

* {
	font-family: Comfortaa, sans-serif;
}

img {
	margin-right: 1vw;
	vertical-align: middle;
	width: 3vw;
}

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
	margin: 0px;
}

html {
	background: linear-gradient(to bottom, #ffa500 0%, #ff355e 83%);
	background-repeat: no-repeat;
}

body {
	flex-flow: row;
}

p, h1 {
	color: #cd5c5c;
	text-align: left;
	margin-left: 3vw;
	font-size: 2vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}

h1 {
	font-size: 4vw;
}

a {
	text-decoration: none;
	color: #cd5c5c;
}

.big {
	width: 5vw;
}

.chain {
	width: 1.5vw;
}

.twitter {
	color: #00C3F8;
	font-family: Comfortaa Bold;
	font-size: 2vw;
	font-weight: bold;
}

.discord {
	color: #8C9EFF;
	font-family: Comfortaa Bold;
	font-size: 2vw;
	font-weight: bold;
}

#block {
	flex-flow: column;
}

#main {
	background-color: black;
	width: 35vw;
	flex-flow: column;
	border-radius: 1vw 3vw 0vw 0vw;
}

#twitter {
	background-color: black;
	width: 35vw;
	flex-flow: column;
	color: #cd5c5c;
}

#continue {
	background-color: black;
	width: 35vw;
	flex-flow: column;
	border-radius: 0vw 0vw 1vw 3vw;
}
